.nav {
    z-index: 3;
    position: relative;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1.5;
    font-weight: 500;
}

.menu-item {
    display: inline-block;
    
    a {
        color:#0a7c58d9;
        &:hover {
            color: #204b27;
        }
    }
}

.active {
    a {
        color: #204b27;
        
    }
}

@if ($headerLayoutFlex) {
    .nav {
        text-align: right;
        font-size: 115%;
    }
    .menu-item {
        margin-left: 0.8em;

        .icon {
            margin: 0 0.3em 0.2em 0;
        }
    }
} @else {
    .menu {
        text-align: center;
        background: var(--color-contrast-lower);
    }
    .menu-item {
        margin: 0 1em;
    }
    .menu-item-name {
        display: flex;
    }
}
