{{ $imagePath := .Get "ImagePath" }}
{{ $title := .Get "Title" }}
{{ $description := .Get "Description" }}
{{ $projectAreasTitle := .Get "ProjectAreasTitle" }}
{{ $projectAreasImage := .Get "ProjectAreasImage" }}

<style>
  .flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: -3.5em;
  }


  /* Media query for narrow screens (max-width: 768px) */
  @media (max-width: 768px) {
    .flex-container {
      flex-direction: column; /* Stack the elements vertically */
      align-items: center;
    }

    .img {
     /*  margin-left: 0; /* Remove the left margin */
      margin-top: 1em; /* Adjust the top margin */
    }

    img {
      width: 100%; /* Make the image take full width */
      max-width: 100%; /* sicherstellen dass bild nicht container overflowed */
      border-radius: 4%;
      margin-top: 1em;
      
    }
  }
</style>

<div class="flex-container">
  <div style="flex: 1; margin-right:2.5em;">
    <p>{{ $description | markdownify }} <!-- Render the Description HTML as safe HTML -->
    </p>
  </div>
    <img src="{{ $imagePath }}" alt="{{ $title }}" style="border-radius: 4%; max-width: 30%; margin-top: -1.5em; margin-right: 1-2em;">
</div>

