{{ $imagePath := .Get "ImagePath" }}
{{ $title := .Get "Title" }}
{{ $description := .Get "Description" }}
{{ $projectAreasTitle := .Get "ProjectAreasTitle" }}
{{ $projectAreasImage := .Get "ProjectAreasImage" }}

<style>
  .flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: -3.5em;
  }

 
  .post img {
    border-radius: 4%; max-width: 30%; margin-top: -1.5em; margin-right: 1.2em;
  }


  /* Media query for narrow screens (max-width: 768px) */
  @media (max-width: 768px) {
    .flex-container {
      flex-direction: column; /* Stack the elements vertically */
      align-items: center;
    }

 
    .post img {
      width: 100%; /* Make the image take full width */
      max-width: 50%; /* sicherstellen dass bild nicht container overflowed */
      border-radius: 4%;
      margin-left: -5em;
      margin-top: 1em;
      margin-bottom: 2em;
      display: block;
      
    }
  }
</style>

<div class="flex-container">
  <div style="flex: 1; margin-right:2.5em;">
    <p>{{ $description | markdownify }} <!-- Render the Description HTML as safe HTML -->
    </p>
  </div>
    <img src="{{ $imagePath }}" alt="{{ $title }}">
</div>

