<!DOCTYPE html>
<html>
  <head>
<style>
    .italic {
      font-style: italic;
    }
    .doi-link {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }
    #loading-indicator {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7); /* Hintergrund mit Transparenz, um den Inhalt zu überdecken */
        display: flex;
        justify-content: center; /* Horizontal zentriert */
        align-items: center; /* Vertikal zentriert */
        z-index: 9999; /* Stellen Sie sicher, dass der Ladeindikator über anderen Inhalten liegt */
      }

      .loader {
        border: 4px solid #f3f3f3;
        border-top: 4px solid #1c9c38;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
  </style>
</head>
<main class="inner-main">
<body>
  <div class = "main-inner">
    <div id="shortcode-content"> </div> 
    <div id="loading-indicator" style="display: none;">
      <div class="loader"></div>
    </div>
    
  </div>

<script>// API-Schlüssel und Bibliotheks-ID einsetzen
  
     
    var url = 'https://api.zotero.org/users/'+libraryId+'/collections/'+collectionId+'/items?format=json&key='+apiKey+ '&limit=100';
 //https://www.zotero.org/momamari/collections/2XU3799V/items?format=json&key=Njmwb0MPtJRSVSgyysrwy9jr
    var apiKey = 'QrDAC57esCVVLi1EaMRg8OJE';
    var libraryId = '538260';
    var groupID = '1547948'; // Gruppen-ID hier einfügen
    var collectionId= '7W9FS2SI';
    
   // var url = 'https://api.zotero.org/groups/'+groupID+'/collections/'+collectionId+'/items?format=json&key='+apiKey;
//https://www.zotero.org/groups/1547948/collections/2CYW56EE/items?format=bib&key=QrDAC57esCVVLi1EaMRg8OJE **/

    var baseUrl = 'https://api.zotero.org/groups/' + groupID + '/collections/' + collectionId + '/items';
    var allData = []; // Array zur Speicherung aller Einträge
    function showLoadingIndicator() {
      var loadingIndicator = document.getElementById('loading-indicator');
      loadingIndicator.style.display = 'block';
    }

    function hideLoadingIndicator() {
      var loadingIndicator = document.getElementById('loading-indicator');
      loadingIndicator.style.display = 'none';
    }

  function fetchData(page) {
    showLoadingIndicator(); // Zeige den Ladezirkel an
    var url = baseUrl + '?format=json&key=' + apiKey + '&limit=100&start=' + (page * 100);

    // Datenabruf
    fetch(url)
      .then(response => response.json())
      .then(data => {
        // Füge die aktuellen Einträge dem allData-Array hinzu
        allData = allData.concat(data);

        // Überprüfe, ob weitere Seiten vorhanden sind
        if (data.length === 100) {
          // Rufe nächste Seite ab
          fetchData(page + 1);
        } else {
          // Keine weiteren Seiten vorhanden, verarbeite die gesammelten Daten
          processData(allData);
        }
      })
      .catch(error => console.error(error));
  }
  
  // Funktion zum Verarbeiten der gesammelten Daten
  function processData(data) {
    var entriesByYear = {};
    var entriesByPub = {};
    var publicationCount = data.length; // Anzahl der Publikationen

  for (var i = 0; i < data.length; i++) {
    var item = data[i];
    var date = item.data.date;
    if (!date) continue; // Skip entries without a date
    
    var year = getYearFromDate(date);
    var pubType = item.data.itemType;
    if (item.data.extra === 'Monographie'){
      pubType = 'Monographie';
    }
    if (!year) continue; // Skip entries with an invalid date
   
    var authors = []; // array für autoren
    var editors = []; //array für editoren
//    var programmers = [];
    for (var j = 0; j < item.data.creators.length; j++) {
      var creator = item.data.creators[j];
      //different lists depending on status author/editor
      if ((creator.creatorType === 'author')||(creator.creatorType === 'programmer')||(creator.creatorType === 'interviewee')) {
        authors.push(creator.lastName + ', ' + creator.firstName);
      } else if (creator.creatorType === 'editor') {
        editors.push(creator.lastName + ', ' + creator.firstName);
      } 
    }
    //define vars used for chicago citations
    var title = item.data.title;
    var publisher = item.data.publisher;
    var place = item.data.place;
    var type = item.data.itemType;
    var journal = item.data.journal;
    var container = item.data.container;
    var booktitle = item.data.publication;
    var series = item.data.series;
    var pages = item.data.pages;
    var vol = item.data.volume;
    var seriesnumber = item.data.seriesNumber;
    var url = item.data.url;

    
    // Erstellen eintrag im Chicago-Stil basierend auf der Eintragsart
    var entry = formatAuthors(authors) + '. ' + year + '. "' + title + '". ';
    //console.log(item.data)
    if ((type === 'book')) {
      if (editors.length === 0){
        if (title==="Erzählen über Konflikte: Ein Beitrag zur digitalen Narratologie"){
          entry = formatAuthors(authors) +'. '+ year + '. <span class="italic">' + title + '</span>. ';
        } else {
          entry = formatAuthors(authors) +' (Hrsg.). '+ year + '. <span class="italic">' + title + '</span>. ';
        }
        //console.log("authors empty:",editors,title);
      } if (authors.length === 0){
        entry = formatAuthors(editors) +' (Hrsg.). '+ year + '. <span class="italic">' + title + '</span>. ';
        //console.log("editors empty:",authors,title);
    //   } if ((authors.length !== 0) && (editors.length !== 0)){
    //     console.log("else if statement",editors)
    //     entry = formatAuthors(authors) +'. '+ year + '. <span class="italic">' + title + '</span>. '+"herausgegeben von"+formatAuthors (editors);
    //   //  console.log("entry try ",entry);
    } 
      if (place){
        entry += place + ': ';
      } 
      if (vol){
        entry += "Vol. "+vol+". ";
      }
      if(series) {
        if (seriesnumber){
          entry += series + " "+seriesnumber + ". ";
        }
        entry += series + ". ";
      }
      if (publisher){
        entry += publisher + '. ';
      }
      if (url){
        entry += '<a href="' + url + '" target="_blank" >' + url + '</a>.';
      }
  
    } else if (type === 'journalArticle') {
      var container = item.data.containerTitle;
      var journal = item.data.publicationTitle;
      var volume = item.data.volume;
      var doi = item.data.DOI;
      var pages = item.data.pages;
      var edition = item.data.collectionNumber;
      var pagesExist = pages in data;
      var editionExists = edition in data;
      var doiExists = item.data.DOI !== undefined;

      if ((editors.length !== 0) && (editors.sort() !== authors.sort())){
        entry += 'Herausgegeben von '+formatAuthors (editors)+". ";
      } 
      if (journal) {
        entry += '<span class="italic">' + journal + '</span>. ';
      }
      if (volume){
        entry += volume + '. ';
      }
      if (editionExists){
        entry += "("+edition+")"+ '. ';
      }
      if (pages){
        entry += pages + '. ';
      }
      if (doi.length) {  
        entry += 'DOI: <a href="https://doi.org/' + doi + '" target="_blank" >' + doi + '</a>.';
      } else if (url) {
        entry += '<a href="' + url + '">' + url + '</a>.';
      }
     // console.log("JournalArticle mit Editoren: ",entry)
    } else if (type === 'conferencePaper') {

      var proceedings = item.data.proceedingsTitle;
      var url = item.data.url;
      var doi = item.data.DOI;
      var event = item.data.event;
      var pagesExist = pages in data;
      var doiExists = item.data.DOI !== undefined;
      var proceedingsExist = proceedings in data;

      //  console.log("entry try ",entry);
    
      if ((proceedings) && (editors.length !== 0) && (editors.sort() !== authors.sort())){
        entry += 'In <span class="italic">' + proceedings +'</span>, herausgegeben von '+formatAuthors (editors)+", ";
      } 
      else if ((proceedings) && (editors.length === 0)){
        entry += 'In <span class="italic">' + proceedings +'</span>. ';
      }
      if (pages){
        entry += pages+'. ';
      }
      if (place) {
        entry += place + '. ';
      }
      if (doi.length) {
        entry += 'DOI: <a href="https://doi.org/' + doi + '" target="_blank" >' + doi + '</a>.';
      } else if (url) {
        entry += '<a href="' + url + '" target="_blank" >' + url + '</a>.';
      }
   //   console.log("confP mit Editoren: ",entry)

    } else if (type === 'bookSection'){
      var booktitle = item.data.bookTitle;

      if ((editors.length !== 0) && (editors.sort() !== authors.sort())){
        entry += 'In <span class="italic">' + booktitle +'</span>, herausgegeben von '+formatAuthors (editors)+", ";
      } else if (editors.length === 0){
        entry += 'In <span class="italic">' + booktitle +'</span>. ';
      }
      if (pages){
        entry += pages + ". ";
      }
      if ((place) && (publisher)){
        entry += place + ': ' + publisher + '. ';
      } 
      if (!(place)&& (publisher)){
        entry += publisher + ". ";
      } 
      if (url) {
        entry += '<a href="' + url + '" target="_blank" >' + url + '</a>.';
      }
      //console.log("Booksection mit Editoren: ",entry)

     // console.log(item.data);
    } else if  (type === 'document'){
      var url = item.data.url;
      if (publisher){
        entry += publisher + '.' +'<a href="' + url + '" target="_blank" >' + url + '</a>.';
      } else {
        entry += '<a href="' + url + '">' + url + '</a>.';
      }
    } else if (type === 'dataset'){
      //console.log(item.data);
      var rep = item.data.repository;
      var doi = item.data.DOI;
      entry += rep + '. <a href="' + url + '">' + url + '</a>.';
    } else if (type==='computerProgram') {
      var company = item.data.company;
      var url = item.data.url;
      if (company) {
        entry += company + ". ";
      } 
      if (entry) {
        entry += '<a href="' + url + '" target="_blank">' + url + '</a>.';
      }
//      console.log(item.data);
    } else if (type === 'blogPost'){
      var blogTitle = item.data.blogTitle;
      entry += blogTitle + ". " + '<a href="' + url + '" target="_blank" >' + url + '</a>.';
    }
    else {
      var url = item.data.url;
      var containerTitle = item.data.containerTitle
      var col = item.data.collectionTItle
      entry += url + '.';
      //console.log(item.data);

    }

    // Dictionary mit Einträgen
    if (!(pubType in entriesByPub)) {
      entriesByPub[pubType] = [entry];
    } else {
      entriesByPub[pubType].push(entry);
    }
  }

    /* Gib die Summe der Publikationen aus
    var sumHeader = document.createElement('h2');
    sumHeader.innerText = 'Summe der Publikationen: ' + publicationCount;
    sumHeader.style.paddingLeft = '3em';
    document.body.prepend(sumHeader); // Am Anfang des Dokuments einfügen*/

    //Sortierteil für Darstellung auf der Webseite
var pubTypes = Object.keys(entriesByPub);
var sortedEntries = [];

function compareAuthors(a, b) {
  var lastNameA = a.authors[0].split(',')[0].trim();
  var lastNameB = b.authors[0].split(',')[0].trim();

  if (lastNameA < lastNameB) {
    return -1;
  } else if (lastNameA > lastNameB) {
    return 1;
  } 
    // Wenn die Nachnamen gleich sind, nach Jahr sortieren
    var yearA = a.year;
    var yearB = b.year;

    if (yearA > yearB) {
      return -1;
    } else if (yearA < yearB) {
      return 1;
    } else {
      return 0;
    }
  
}

//Sortierung auf der WEbseite nach Publikationstypen
function comparePubTypes(a, b) {
  var order = {
    'Monographie':1,
    'book': 2,
    'journalArticle': 3,
    'conferencePaper': 4,
    'bookSection': 5,
    'blogPost': 6,
    'report': 6,
    'interview': 6,
    'document': 7,
    'dataset': 8,
    'computerProgram': 9
  };

  if (order[a] < order[b]) {
    return -1; // Aufsteigende Reihenfolge
  }
  if (order[a] > order[b]) {
    return 1; // Aufsteigende Reihenfolge
  }
  return 0;
}

pubTypes.sort(comparePubTypes);

pubTypes.forEach(function(pubType) {
  var renamedPubType;
  //Rename Überschriften

  if (pubType === 'book') {
    renamedPubType = 'Herausgeberschaften';
  } else if (pubType === 'journalArticle') {
    renamedPubType = 'Artikel';
  } else if (pubType === 'conferencePaper') {
    renamedPubType = 'Konferenzbeiträge (mit Peer Review)';
  } else if (pubType === 'bookSection') {
    renamedPubType = 'Beiträge in Sammelbänden';
  } else if (pubType === 'blogPost' || pubType === 'report' || pubType === 'interview') {
    renamedPubType = 'Kleinere Beiträge';
  } else if (pubType === 'document') {
    renamedPubType = 'Annotationsguidelines';
  } else if (pubType === 'dataset') {
    renamedPubType = 'Publizierte Daten';
  } else if (pubType === 'computerProgram') {
    renamedPubType = 'Software';
  } else if (pubType === 'Monographie'){
    renamedPubType = 'Monographie';
  } else {
    renamedPubType = pubType; // Keine Umbenennung erforderlich
  }

  var entries = entriesByPub[pubType];
  entries.sort(); // Sortieren der Einträge innerhalb des Publikationstyps

      entries.forEach(function(entry) {
        sortedEntries.push({
          pubType: renamedPubType,
          entry: entry
        });
      });
    });


var currentPubType = null;
var currentPubTypeContainer = null;


sortedEntries.forEach(function(item) {
  if (item.pubType !== currentPubType) {
    currentPubType = item.pubType;
    currentPubTypeContainer = document.createElement('div');

    var yearHeader = document.createElement('h3');
    yearHeader.innerText = currentPubType;
    //yearHeader.style.marginLeft = '-1.2em'; // Anpassen des linken Abstands

    currentPubTypeContainer.appendChild(yearHeader);
    document.getElementById('shortcode-content').appendChild(currentPubTypeContainer);
  }

  var entryParagraph = document.createElement('span');
  entryParagraph.style.display = 'block';
  entryParagraph.style.marginBottom = '0.8em';
  
  var entryList = document.createElement('ul');
  entryList.style.listStyleType = 'disc';
  
  var listItem = document.createElement('li');
  //listItem.style.marginLeft = '-2em'; // Einrückung entfernen
  listItem.style.marginBottom = '0em';

  listItem.innerHTML = item.entry;
  
  entryList.appendChild(listItem);
  entryParagraph.appendChild(entryList);

  currentPubTypeContainer.appendChild(entryParagraph);
});


// Funktion zum Extrahieren des Jahres aus verschiedenen Datumsformaten
function getYearFromDate(dateString) {
  var dateParts = dateString.split(/[^\d]+/);
  var year = dateParts.find(part => part.length === 4);

  if (year) {
    return year;
  }

  var possibleYear = parseInt(dateParts[dateParts.length - 1]);
  if (!isNaN(possibleYear)) {
    return possibleYear.toString();
  }

  return "Forthcoming";
}

  var attributes = Object.keys(data);
    for (var i = 0; i < attributes.length; i++) {
      var attributeName = attributes[i];
      var attributeValue = data[attributeName];
      //console.log(attributeName + ": " + attributeValue);
    }
}


   
  //Autoren-Namen-Reihenfolge ändern

  function formatAuthors(authors) {
    if (authors.length === 1) {
      return authors[0];
    } else if (authors.length === 2) {
      const [firstAuthor, secondAuthor] = authors;
      const firstName1 = firstAuthor.split(',')[1].trim();
      const lastName1 = firstAuthor.split(',')[0].trim();
      const firstName2 = secondAuthor.split(',')[1].trim();
      const lastName2 = secondAuthor.split(',')[0].trim();
      return `${lastName1}, ${firstName1} und ${firstName2} ${lastName2}`;
    } else if (authors.length > 2) {
      const [firstAuthor, ...remainingAuthors] = authors;
      const formattedRemainingAuthors = remainingAuthors.map(author => `${author.split(',')[1].trim()} ${author.split(',')[0].trim()}`);
      const lastAuthor = formattedRemainingAuthors.pop();
      return `${firstAuthor.split(',')[0].trim()}, ${firstAuthor.split(',')[1].trim()}, ${formattedRemainingAuthors.join(', ')} und ${lastAuthor}`;
    }
    return '';
  }
  
  fetchData(0);

  // Eventlistener für DOI-Links
  /*
  document.addEventListener('click', function(event) {
    if (event.target.classList.contains('doi-link')) {
      event.preventDefault();
      var doi = event.target.innerText;
      window.open('https://doi.org/' + doi, '_blank');
    }
  });*/
</script>


</body>
</main>
</html>