<div class="main-inner">
{{ range $projektgruppe := (readDir "/content/de/talks2/") }}
    {{ with $projektgruppe := $projektgruppe }}
        {{ if eq $projektgruppe.IsDir true }}
            {{ if eq $projektgruppe.Name "Evortraege"}}
            <h3 id="Evortraege"> Eingeladene Vorträge</h3>
             
                {{ else if eq $projektgruppe.Name "Konferenzbeitraege"}}
                <h3 id="Konferenzbeitraege"> Konferenzbeiträge</h3>

             
                
                {{ else }} <h2 id="{{ .Name }}">{{ $projektgruppe.Name }}</h3>{{ end }}
                
     
            {{ range $einzelprojekt := (readDir (print "/content/de/talks2/" $projektgruppe.Name)) }}
                {{ with $einzelprojekt := $einzelprojekt }}
                    {{ if eq $einzelprojekt.IsDir false }}
                        {{ $content := (readFile (print "/content/de/talks2/" $projektgruppe.Name "/" $einzelprojekt.Name)) }}
                        {{ $metadata := index (split $content "---") 1 }}
                        {{ $title := index (split $metadata "title:") 2 }}
                        {{ $body := index (split $content "---") 2 }}
                        {{ $body | markdownify }}

                    {{ end }}
                {{ end }}
            {{ end }}
        
        {{ end }}
    {{ end }}
{{ end }}


</div>
